################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ClubeBeneficios.Database/FileContentIndex/75f0dc43-4c91-49a9-a27f-1b5134f28ae4.vsidx
/.vs/ClubeBeneficios.Database/FileContentIndex
